/* General Styling */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

/* Typography */
h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 15px;
}

h2 {
  font-size: 1.8rem;
  color: #222;
  margin-bottom: 10px;
}

/* Code Block Styling */
pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
}

code {
  background-color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 1rem;
}

/* SyntaxHighlighter specific styles */
.react-syntax-highlighter {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 1.2rem;
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 4px;
}

/* Centered Layout for Slide Content */
.slideshow-container {
  max-width: 900px;
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.slide-navigation {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.slide-content {
  text-align: center;
}

.slideshow-title {
  font-style: italic;
}

.markdown-content {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  margin-top: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.nav-button {
  padding: 10px 20px;
  margin: 0 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #0056b3;
}

.button-area {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-left: 10%;
}

.home-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.home-button:hover {
  background-color: #0056b3;
}

.create-slide-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #28a745;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  text-align: center;
  transition: background-color 0.3s ease;
}

.create-slide-button:hover {
  background-color: #218838;
}

/* Progress Bar */
.progress-bar-container {
  width: 80%;
  height: 8px;
  margin-left: 10%;
  background-color: #ddd;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #007bff;
  border-radius: 4px;
}

.progress-text {
  text-align: center;
  font-size: 1.1rem;
  color: #555;
}

/* Slide Editor Styling */
.slide-editor-container {
  max-width: 900px;
  height: calc(100vh - 40px);
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.slide-edit-header {
  text-align: center;
}

.slide-editor-form {
  text-align: center;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
  text-align: left;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

label {
  font-size: 1.1rem;
  margin-bottom: 5px;
  display: block;
  color: #555;
}

input, textarea, select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical;
}

button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Save Button */
.save-slide-button {
  padding: 12px 24px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
}

.save-slide-button:hover {
  background-color: #218838;
}

.slideshow-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Flex Layout for Slide Title and Edit Button */
.slide-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-title {
  font-size: 1.8rem;
  color: #333;
  flex-grow: 1;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .slideshow-container, .slide-editor-container {
    padding: 20px;
  }

  .slide-title {
    font-size: 1.5rem;
  }

  .markdown-content {
    font-size: 1rem;
  }

  .nav-button {
    padding: 8px 16px;
    font-size: 1rem;
  }

  .create-slide-button {
    padding: 10px 20px;
  }

  .save-slide-button {
    width: 50%;
    padding: 12px;
  }

  button {
    width: 20%;
    padding: 12px;
  }

  input, textarea, select {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
  }
}
